/**
* ESTILOS PARA O DIV DE JOGOS
*/
#GameDiv
{
	display			: table;
	position		: relative;
	left			: 50%;
	margin			: 35px 0px 0px -260px;
}

/**
* ESTILOS DO TABULEIRO
*/

#TBoard{
	position		: relative;
	float			: left;
	border			: 3px solid #216778;
	border-right	: 0px;
}

#Board {
	position		: relative;

	height			: 80.5mm;
	width			: 80.5mm;

	display			: table;
}

#Board div{
	float			: left;
}

#Board .black {
	background-image	: url('../images/board/square_black.png');
}

#Board .white {
	background-image	: url('../images/board/square_white.png');
}

#Board .select {
	background-image	: url('../images/board/square_select.png');
}

#Board div:hover {
	background-image	: url('../images/board/square_select.png');
}


#BoardPiece{
	position		: static;
}

/**
* ESTILOS PARA OS INDICES DO TABULEIRO
*/
#IndexV {
	position		: absolute;
	top			: 1mm;
	left			: -8mm;
	margin-left		: 0px;
	list-style		: none;
}
 
#IndexV li {
	font			: 18px Trebuchet MS;
	color			: #216778;
	width			: 15px;
	height			: 38px;
	line-height		: 38px;

	text-align		: center;
}


#IndexH {
	list-style		: none;
	/*
	position		: absolute;
	top			: 80mm;
	*/
	left			: 1mm;
	position		: absolute;
	width			: 81mm;
}

#IndexH li {
	list-style		: none;
	float			: left;
	font			: 18px Trebuchet MS;
	color			: #216778;
	width			: 38px;
	height			: 38px;
	text-align		: center;
}

/*
 * GAMINFO STYLES
 */

#GameInfoDiv
{
	position		: relative;
	width			: 195px;
	height			: 304px;
	float			: left;
	border			: 3px solid #216778;
}

#GameClose {
	position		: absolute;
	right			: -3px;
	top				: -5mm;
	width			: 4mm;
	font			: bold 10px Trebuchet MS;
	text-align		: center;
	background-color: #216778;
	color			: #FFF;
	padding			: 2px;
	cursor			: pointer;
}

#PhotoDiv
{
	position		: relative;
	width			: 53mm;
	height			: 30mm;
	font			: 14px Trebuchet MS;
	color			: #216778;
}

#PhotoDiv #PWPhoto
{
	background-color	: #fff;
	
	position		: absolute;
	left			: 8mm;
	top			: 5mm;
	width			: 50px;
	height			: 60px;
	border-style		: solid;
	border-width		: 1px;
}

#PhotoDiv #PBPhoto
{
	background-color	: #fff;

	position		: absolute;
	right			: 8mm;
	top			: 5mm;

	width			: 50px;
	height			: 60px;

	border-style		: solid;
	border-width		: 1px;
}


#PhotoDiv #PWName
{
	position		: absolute;
	left			: 5mm;
	top			: 25mm;
}

#PhotoDiv #PBName
{
	position		: absolute;
	right			: 5mm;
	top			: 25mm;
}

#PhotoDiv #PWPawn
{
	background-image	: url("../images/pieces/wpawn.png");

	position		: absolute;
	top			: 13.5mm;
	left			: 3.5mm;

	width			: 35px;
	height			: 35px;
}
#PhotoDiv #PBPawn
{
	background-image	: url("../images/pieces/bpawn.png");

	position		: absolute;
	top			: 13.5mm;
	right			: 3.5mm;

	width			: 35px;
	height			: 35px;
}

#PhotoDiv #vs
{
	position		: absolute;
	right			: 50%;
	left			: 50%;
	top			: 10mm;
}

/*Timers*/
#TimerDiv
{

	position		: relative;

	width			: 53mm;
	height			: 10mm;
/*
	border-style		: solid;
	border-width		: 1px;
	border-color		: #216778;
*/
	font			: 14px Trebuchet MS;
	font-weight		: bold;
	color			: #216778;
}

#PWTimer
{
	background-color	: #ffeed1;
	width			: 15mm;

	position		: absolute;
	left			: 6.5mm;
	top			: 1mm;

	text-align		: center;

	border-style		: solid;
	border-width		: 1px;
	border-color		: #ffa200;
}

#PBTimer
{
	background-color	: #ffeed1;

	width			: 15mm;

	position		: absolute;
	right			: 6.5mm;
	top			: 1mm;

	text-align		: center;

	border-style		: solid;
	border-width		: 1px;
	border-color		: #ffa200;
}

/*GameOptions*/
#GameOptionDiv, #MoveListDiv
{
	background-color	: #FFF;
	
	position		: absolute;
	top			: 5mm;
	left			: -1px;

	width			: 46mm;
	height			: 30mm;

	border-style		: solid;
	border-width		: 0px 1px 1px 1px;
	border-color		: #216778;

	font			: 11px Trebuchet MS;
	color			: #216778;
}

#MoveListDiv{
	position		: relative;
}

#MoveList{
	list-style		: none;
	height			: 30mm;
	overflow		: auto;
}

#MoveList.oldgame{
	height			: 22mm;
}

#MoveList li.black{
	background-color	: #216778;
	color			: #FFF;
}

#MoveList span{
	margin-left		: 3mm;
}

#MoveListDiv #MoveListButtons{
	position                : absolute;
	bottom                  : 0px;

	background-color        : #FFF;

	display                 : table;
	width                   : 45.9mm;
	height                  : 8mm;

	border-style            : solid;
	border-width            : 1px 0px 0px 0px;
}

#MoveListDiv #MoveListButtons input{
	float                   : left;
	margin-left             : 6mm;
	margin-top              : 2mm;
	border			: none;
	width			: 14px;
	height			: 15px;
	cursor			: pointer;
}

#GameOptionDiv ul
{
	position		: relative;
	top			: 1mm;
	left			: 2mm;
	bottom			: 1mm;
	list-style		: none;
}

#GameOptionDiv li
{
	border-style		: solid;
	border-width		: 1px;
	border-color		: #FFF;

	width			: 41mm;
}

#GameOptionDiv li:hover
{
	border-style		: solid;
	border-width		: 1px;
	border-color		: #216778;

	cursor			: pointer;
}

#GameOptionDiv li.promotion
{
	width			: 44mm;
	border-style		: solid;
	border-color		: #fff;
	border-width		: 0px;
}

#GameOptionDiv li.promotion:hover
{	
	border-style		: solid;
	border-color		: #fff;
	border-width		: 0px;
}

#GameOptionDiv select
{
	margin-left		: 3mm;

	border-style		: solid;
	border-width		: 1px;
	border-color		: #216778;

	font			: 10px Trebuchet MS;
	color			: #216778;
	width			: 15mm;
}

/*GameTabs*/

#GameInfoTab
{
	position		: relative;
	left			: 2mm;
	right			: 2mm;
/*
	border-style		: solid;
	border-width		: 1px;
	border-color		: #216778;
*/
}

#InfoTab
{
	position		: relative;
	top			: 0px;
	left			: 0px;

	width			: 46mm;

	font			: 12px Trebuchet MS;
	font-weight		: bold;
	color			: #216778;

	border-style		: solid;
	border-width		: 1px;
	border-color		: #216778;
}

#InfoTab1
{
	position		: absolute;
	left			: -1px;
	top			: -1px;

	border-style		: solid;
	border-width		: 1px;
	border-color		: #216778;

	width			: 23mm;
	height			: 4.7mm;

	text-align		: center;
	cursor			: pointer;
}

#InfoTab2
{
	position		: absolute;
	right			: -1px;
	top			: -1px;

	border-style		: solid;
	border-width		: 1px;
	border-color		: #216778;

	width			: 22.5mm;
	height			: 4.7mm;

	text-align		: center;
	cursor			: pointer;
}

#InfoTab1.active, #InfoTab2.active
{
	background-color	: #ffeed1;

	border-style		: solid;
	border-width		: 1px;
	border-color		: #ffa200;

	color		: #ffa200;
}

#InfoTab1.oldgame{
	width			: 46mm;
}


/*Move List Buttons*/
#MoveListFirst{
	background-image	: url("../images/board/first.png");
}

#MoveListFirst:hover {
	background-image	: url("../images/board/first_active.png");
}

#MoveListPrev{
	background-image	: url("../images/board/prev.png");
}

#MoveListPrev:hover {
	background-image	: url("../images/board/prev_active.png");
}

#MoveListNext{
	background-image	: url("../images/board/next.png");
}

#MoveListNext:hover {
	background-image	: url("../images/board/next_active.png");
}

#MoveListLast{
	background-image	: url("../images/board/last.png");
}

#MoveListLast:hover {
	background-image	: url("../images/board/last_active.png");
}
