/**
* ESTILOS PARA O DIV DE JOGOS
*/
#GameDiv
{
	display			: table;
	position		: relative;
	left			: 50%;
	margin-top		: 35px;
	margin-right		: 0px;
	margin-bottom		: 0px;
	margin-left		: -260px;
}

/**
* ESTILOS DO TABULEIRO
*/

#TBoard{
	position		: relative;
	float			: left;
	border			: 3px solid #216778;
	border-right		: 0px;
}

#Board {
	position		: relative;
	/*
	height			: 80.5mm;
	width			: 80.5mm;
	*/
	height			: 304px;
	width			: 304px;
	display			: table;
}

#Board div{
	float			: left;
}

#Board .black {
	background-image	: url('../images/board/square_black.png');
}

#Board .white {
	background-image	: url('../images/board/square_white.png');
}

#Board .select {
	background-image	: url('../images/board/square_select.png');
}

#Board div:hover {
	background-image	: url('../images/board/square_select.png');
}


#BoardPiece{
	position		: static;
}

/**
* ESTILOS PARA OS INDICES DO TABULEIRO
*/
#IndexV {
	position		: absolute;
	/*
	top			: 1mm;
	left			: -8mm;
	*/
	top			: 0px;
	left			: -35px;
	margin-left		: 0px;
	list-style		: none;
}
 
#IndexV li {
	font-size		: 18px;
	color			: #216778;
	width			: 15px;
	height			: 38px;
	line-height		: 38px;

	text-align		: center;
}


#IndexH {
	list-style		: none;
	/*
	position		: absolute;
	top			: 80mm;
	*/
	left			: 0px;
	top			: 309px;
	position		: absolute;
	width			: 305px;
	/*width			: 81mm;*/
}

#IndexH li {
	list-style		: none;
	float			: left;
	font-size		: 18px;
	color			: #216778;
	width			: 38px;
	height			: 38px;
	text-align		: center;
}

/*
 * GAMINFO STYLES
 */

#GameInfoDiv
{
	position		: relative;
	width			: 180px;
	height			: 304px;
	float			: left;
	border			: 3px solid #216778;
	padding			: 0px 5px;
}

#GameClose {
	position		: absolute;
	right			: -3px;
	/*top			: -5mm;*/
	top			: -20px;
	/*width			: 4mm;*/
	width			: 16px;
	font-weight		: bold;
	font-size		: 10px;
	text-align		: center;
	background-color	: #216778;
	color			: #FFF;
	padding			: 2px;
	cursor			: pointer;
}

#PhotoDiv
{
	position		: relative;
	/*width			: 53mm;*/
	width			: 170px;
	/*height		: 30mm;*/
	height			: 95px;;
	font-size		: 14px;
	color			: #216778;

	padding-top		: 15px;
	padding-right		: 10px;
	padding-bottom		: 0px;
	padding-left		: 10px;
}

#PhotoDiv #PWPhoto
{
	background-color	: #fff;
	
	/*
	position		: absolute;
	left			: 8mm;
	top			: 5mm;
	*/
	width			: 50px;
	height			: 60px;
	border-style		: solid;
	border-width		: 1px;
	float			: left;

	margin-left		: 5px;
}

#PhotoDiv #PBPhoto
{
	background-color	: #fff;

	/*
	position		: absolute;
	right			: 8mm;
	top			: 5mm;
	*/
	width			: 50px;
	height			: 60px;

	border-style		: solid;
	border-width		: 1px;
	float			: left;
}


#PhotoDiv #PWName
{
	position		: absolute;
	left			: 0px;
	bottom			: 0px;
	margin-left		: 10px;
}

#PhotoDiv #PBName
{
	position		: absolute;
	right			: 0px;
	bottom			: 0px;
	margin-right		: 12px;
}

#PhotoDiv #PWPawn
{
	background-image	: url("../images/pieces/wpawn.png");

	position		: absolute;
	/*
	top			: 13.5mm;
	left			: 3.5mm;
	*/
	top			: 55px;
	left			: 0px;

	width			: 35px;
	height			: 35px;
}
#PhotoDiv #PBPawn
{
	background-image	: url("../images/pieces/bpawn.png");

	position		: absolute;
	/*
	top			: 13.5mm;
	right			: 3.5mm;
	*/
	top			: 55px;
	right			: 7px;

	width			: 35px;
	height			: 35px;
}

#PhotoDiv #vs
{
	position		: relative;
	/*
	right			: 50%;
	left			: 50%;
	top			: 40mm;
	*/
	top			: 20px;
	float			: left;

	margin-left		: 20px;
	margin-right		: 20px;
	margin-top		: 10px;
	margin-bottom		: 10px;
}

/*Timers*/
#TimerDiv
{

	position		: relative;

	width			: 180px;
	height			: 35px;
/*
	width			: 53mm;
	height			: 10mm;
	border-style		: solid;
	border-width		: 1px;
	border-color		: #216778;
*/
	font-size		: 14px;
	font-weight		: bold;
	color			: #216778;
}

#PWTimer, #PBTimer
{
	background-color	: #ffeed1;
	/*width			: 15mm;*/
	width			: 60px;

/*	position		: absolute;*/
/*	left			: 6.5mm;*/
/*	top			: 1mm;*/

	text-align		: center;

	border-style		: solid;
	border-width		: 1px;
	border-color		: #ffa200;

	float			: left;

	margin			: 6px 14px;
}
/*
#PBTimer
{
	background-color	: #ffeed1;

	width			: 15mm;

	position		: absolute;
/*	right			: 6.5mm;*/
/*	top			: 1mm;*/
/*
	text-align		: center;

	border-style		: solid;
	border-width		: 1px;
	border-color		: #ffa200;
}
*/
/*GameOptions*/
#GameOptionDiv, #MoveListDiv
{
	background-color	: #FFF;
	
	position		: absolute;
	/*top			: 5mm;*/
	top			: 19px;
	left			: -1px;

	/*width			: 46mm;*/
	width			: 175px;
	/*height		: 30mm;*/
	height			: 115px;

	border-style		: solid;
	border-width		: 0px 1px 1px 1px;
	border-color		: #216778;

	font-size		: 11px;
	color			: #216778;
}

#MoveListDiv{
	position		: relative;
}

#MoveList{
	list-style		: none;
	/*height		: 30mm;*/
	height			: 115px;
	overflow		: auto;

	font-weight		: normal;
}

#MoveList.oldgame{
	/*height			: 22mm;*/
	height			: 85px;
}

#MoveList li.black{
	background-color	: #216778;
	color			: #FFF;
}

#MoveList span{
	margin-left		: 2mm;
}

#MoveList span.move{
	margin-left		: 5mm;
}

#MoveListDiv #MoveListButtons{
	position                : absolute;
	bottom                  : 0px;

	background-color        : #FFF;

	display                 : table;
	/*width                   : 45.9mm;*/
	width			: 174px;
	/*height                  : 8mm;*/
	height			: 28px;

	border-style            : solid;
	border-width            : 1px 0px 0px 0px;
}

#MoveListDiv #MoveListButtons input{
	float                   : left;
	/*
	margin-left             : 6mm;
	margin-top              : 2mm;
	*/
	margin-left		: 23px;
	margin-top		: 7px;
	border			: none;
	width			: 14px;
	height			: 15px;
	cursor			: pointer;
}

#GameOptionDiv ul
{
	position		: relative;
	top			: 1mm;
	left			: 2mm;
	bottom			: 1mm;
	list-style		: none;

	font-weight		: normal;
}

#GameOptionDiv li
{
	border-style		: solid;
	border-width		: 1px;
	border-color		: #FFF;

	width			: 41mm;
}

#GameOptionDiv li:hover
{
	border-style		: solid;
	border-width		: 1px;
	border-color		: #216778;

	cursor			: pointer;
}

#GameOptionDiv li.promotion
{
	width			: 44mm;
	border-style		: solid;
	border-color		: #fff;
	border-width		: 0px;
}

#GameOptionDiv li.promotion:hover
{	
	border-style		: solid;
	border-color		: #fff;
	border-width		: 0px;
}

#GameOptionDiv select
{
	margin-left		: 2px;

	border-style		: solid;
	border-width		: 1px;
	border-color		: #216778;

	font-size		: 10px;
	color			: #216778;
	width			: 15mm;

	position		: absolute;
	bottom			: -2px;
}

/*GameTabs*/

#GameInfoTab
{
	position		: relative;
/*
	left			: 2mm;
	right			: 2mm;
	border-style		: solid;
	border-width		: 1px;
	border-color		: #216778;
*/
}

#InfoTab
{
	position		: relative;
	top			: 0px;
	left			: 0px;

	/*width			: 46mm;*/
	width			: 175px;
	height			: 18px;

	font-size		: 12px;
	font-weight		: bold;
	color			: #216778;

	border-style		: solid;
	border-width		: 1px;
	border-color		: #216778;
}

#InfoTab1
{
	position		: absolute;
	left			: -1px;
	top			: -1px;

	border-style		: solid;
	border-width		: 1px;
	border-color		: #216778;

	/*width			: 23mm;*/
	width			: 87px;
	/*height		: 4.7mm;*/
	height			: 18px;

	text-align		: center;
	cursor			: pointer;
}

#InfoTab2
{
	position		: absolute;
	right			: -1px;
	top			: -1px;

	border-style		: solid;
	border-width		: 1px;
	border-color		: #216778;

	/*width			: 22.5mm;*/
	width			: 88px;
	/*height		: 4.7mm;*/
	height			: 18px;

	text-align		: center;
	cursor			: pointer;
}

#InfoTab1.active, #InfoTab2.active
{
	background-color	: #ffeed1;

	border-style		: solid;
	border-width		: 1px;
	border-color		: #ffa200;

	color			: #ffa200;
}

#InfoTab1.oldgame{
	/*width			: 46mm;*/
	width			: 175px;
}


/*Move List Buttons*/
#MoveListFirst{
	background-image	: url("../images/board/first.png");
}

#MoveListFirst:hover {
	background-image	: url("../images/board/first_active.png");
}

#MoveListPrev{
	background-image	: url("../images/board/prev.png");
}

#MoveListPrev:hover {
	background-image	: url("../images/board/prev_active.png");
}

#MoveListNext{
	background-image	: url("../images/board/next.png");
}

#MoveListNext:hover {
	background-image	: url("../images/board/next_active.png");
}

#MoveListLast{
	background-image	: url("../images/board/last.png");
}

#MoveListLast:hover {
	background-image	: url("../images/board/last_active.png");
}

#GameLoadingMove{
	position		: absolute;
	width			: 300px;
	height			: 100px;

	font-size		: 13px;
	color			: #216778

	background-color	: #FFF;
}
