/**
 *	MENU SUPERIOR
 **/
#BottomMenuDiv {
	position		: absolute;
	bottom			: 0mm;
	left			: 1mm;
}


#BottomMenuDiv li {
	list-style		: none;
	float			: left;
	font			: bold 3.2mm Trebuchet MS;
	color			: #FFF;
	width			: 102px;
	text-align		: center;
	height			: 6mm;
	padding-top		: 3px;
	background		: url('../images/menu_inferior_menor.png') no-repeat;
}

#BottomMenuDiv li:hover {
	cursor			: pointer;
	background		: url('../images/menu_inferior_menor_ativo.png') no-repeat;
}

#BottomMenuDiv .opt2 {
	width			: 182px !important;
	background		: url('../images/menu_inferior_maior.png') no-repeat !important;
}

#BottomMenuDiv .opt2:hover {
	width			: 182px !important;
	background		: url('../images/menu_inferior_maior_ativo.png') no-repeat !important;
}
