/**
* Challenge Window
*/
#ChallengeDiv {
	padding			: 0px 28px;
}

#ChallengeDiv #TopDiv {
	padding-top		:	2mm;
	margin-bottom	:	3mm;
}

#ChallengeDiv #Layer1Div {
	margin-bottom	:	12mm;
}

#ChallengeDiv #Layer3Div {
	text-align	:	center;
}

#ChallengeDiv .cx {
	font-size	:	10px;
	margin-right	:	3mm;
}

#ChallengeDiv h3 {
	font-weight		: bold;
	font-size		: 4mm;
	color			: #216778;
	text-align		: center;
	padding-top		: 8px;
}

#ChallengeDiv .leftDiv {
	float			: left;
	width			: 170px;
	margin-left	:	13px;
}

#ChallengeDiv p {
	margin-top		: 0mm;
	font-weight		: bold;
	font-size		: 12px;
	color			: #216778;
}

#ChallengeDiv .rating {
	margin-left		: 4mm;
}

#ChallengeDiv img {
	margin-right	: 7mm;
	margin-left		: 2mm;
}

#ChallengeDiv .label_information {
	text-align		: center;
	font-weight		: normal;
	margin			: 0;
	font-size		: 2.6mm;
	position		: relative;
	width				:	300px;
}

#ChallengeDiv .drop_select {
	margin-top		: 1mm;
	margin-right	: 2mm;
}

#ChallengeDiv .rating_radio {
	margin-top		: 3mm;
	margin-right	: 1.5mm;
}

#ChallengeDiv .italic {
	font-style		: italic;
}

#ChallengeDiv #ButtonsDiv {
	text-align		: center;
	padding-top		: 8mm;
	margin-bottom	: 2mm;
}

#ChallengeDiv .color {
	padding-top	:	1mm;
}

#ChallengeDiv .radio {
	margin-top	:	2mm;
}

#ChallengeDiv input,
#ChallengeDiv textarea,
#ChallengeDiv select {
	font-size		: 12px;
	border			: 1px solid #216778;
	color			: #216778;
}

#ChallengeDiv span {
	font-size		: 12px;
	color			: #216778;
}

