#Main #Left #Contact {
	height			: 52mm;
	border			: 2px solid #216778;
	background-color: #FFF;
	margin-top		: 0.5mm;
	position		: relative;
}

#Main #Left #Contact .title {
	padding			: 2px;
	padding-left	: 3mm;
	font			: bold 11px Trebuchet MS;
	color			: #FFF;
	background-color: #216778;
	margin-bottom	: 1mm;
	cursor			: pointer;
}

#Main #Left #Contact #ContactInside {
	padding-left	: 3mm;
}

/* User list */
#Main #Left #Contact #Contacts {
	display			: block;
	height			: 33mm;
	padding-bottom	: 1mm;
	margin-top	: 2mm;
	overflow-y		: auto;
	overflow-x		: hidden;
	width			: 98%;
}

#Main #Left #Contact #Contacts table {
	border-spacing	: 0px;
	width			: 44mm;
}

#Main #Left #Contact label {
	display			: block;
	font			: bold 12px Trebuchet MS;
	color			: #216778;
	margin			: 1mm 0mm 0.5mm 0mm;
	cursor			: pointer;
}

#Main #Left #Contact tr {
	display		: block;
	text-indent		: 5mm;
	margin			: 1px 0px;
	width			: 42mm;
	font			: 11px Trebuchet MS;
	color			: #000;
}

#Main #Left #Contact td:hover {
	background-color: #EAF5F4;
	cursor			: pointer;
}

#Main #Left #Contact td {
	height			: 4.5mm;
	width			: 32mm;
	text-align		: left;
	float		: left;
}

#Main #Left #Contact .rating {
	width			: 2mm;
	text-align		: right;
}

#Main #Left #Contact hr {
	height			: 1px;
	margin			: 0.5mm 4mm 0mm 0mm;
	background-color: #FFA200;
	border			: 0px;
}

/**
* USER STATUS
*/

/* normal user */

/* available */
#Main #Left .user_available {
	background		: url('../images/user_available.png') no-repeat;
}

/* unavailable */
#Main #Left .user_unavailable {
	background		: url('../images/user_unavailable.png') no-repeat;
}

/* away */
#Main #Left .user_away {
	background		: url('../images/user_away.png') no-repeat;
}

/* busy */
#Main #Left .user_busy {
	background		: url('../images/user_busy.png') no-repeat;
}

/* playing */
#Main #Left .user_playing {
	background		: url('../images/user_playing.png') no-repeat;
}

/* offline */
#Main #Left .user_offline {
	background		: url('../images/user_offline.png') no-repeat;
}

/* admin */

/* available */
#Main #Left .admin_available {
	background		: url('../images/admin_available.png') no-repeat;
}

/* unavailable */
#Main #Left .admin_unavailable {
	background		: url('../images/admin_unavailable.png') no-repeat;
}

/* away */
#Main #Left .admin_away {
	background		: url('../images/admin_away.png') no-repeat;
}

/* busy */
#Main #Left .admin_busy {
	background		: url('../images/admin_busy.png') no-repeat;
}

/* playing */
#Main #Left .admin_playing {
	background		: url('../images/admin_playing.png') no-repeat;
}

/* offline */
#Main #Left .admin_offline {
	background		: url('../images/admin_offline.png') no-repeat;
}

/* teacher */

/* available */
#Main #Left .teacher_available {
	background		: url('../images/teacher_available.png') no-repeat;
}

/* unavailable */
#Main #Left .teacher_unavailable {
	background		: url('../images/teacher_unavailable.png') no-repeat;
}

/* away */
#Main #Left .teacher_away {
	background		: url('../images/teacher_away.png') no-repeat;
}

/* busy */
#Main #Left .teacher_busy {
	background		: url('../images/teacher_busy.png') no-repeat;
}

/* playing */
#Main #Left .teacher_playing {
	background		: url('../images/teacher_playing.png') no-repeat;
}

/* offline */
#Main #Left .teacher_offline {
	background		: url('../images/teacher_offline.png') no-repeat;
}

/* robot */

/* available */
#Main #Left .robot_available {
	background		: url('../images/robot_available.png') no-repeat;
}

/* offline */
#Main #Left .robot_offline {
	background		: url('../images/robot_offline.png') no-repeat;
}

/* Search user */
#Main #Left #Contact #contact_search_user {
	border-bottom:	1px solid #216778;
	text-decoration	: none;
	font			: bold 11px Trebuchet MS;
	color			: #216778;
	cursor			: pointer;
}

#Main #Left #Contact .contact_search_user_p {
	text-align: center;
	padding-top:	3px;
	padding-right:	7%;
}

/**
* USER MENU
*/
#UserMenuDiv {
	position		: absolute;
	width			: 35mm;
	padding			: 1mm;
	background-color: #FFF;
	border			: 1px solid #216778;
}

#UserMenuDiv p {
	font			: italic 10px Trebuchet MS;
	color			: #216778;
	cursor			: pointer;
	margin-bottom	: 1px;
}

#UserMenuDiv p:hover {
	background-color: #EAF5F4;
}

#UserMenuDiv .option_disabled {
	color			: #C0C0C0;
}

/**
*	Invite window
*/

#InviteDiv {
	padding-top	:	30px;
}

#InviteDiv #TextDiv span {
	font-size 	: 11px;
	font-weight	:	normal;
	color				: #216778;
}

#InviteDiv #TextDiv .username {
	font-size 	: 13px;
	font-weight	:	bold;
}

#InviteDiv #ButtonsDiv {
	padding-top : 30px;
	padding-bottom : 5px;
	text-align	: center;
	position		: relative;
}

#InviteDiv #TextDiv {
	text-align	: center;
	position		: relative;
}

#SearchUserDiv {
	padding-top	:	15px;
}

#SearchUserDiv span {
	padding-top	:	20px;
	margin-right: 10px;
	font-size 	: 13px;
	margin-right: 10px;
	font-weight	:	bold;
	color				: #216778;
}

#SearchUserDiv tr {
	cursor			:	pointer;
	font-size 	: 12px;
	color				: #216778;
}

#SearchUserDiv td {
	padding-left	:	10px;
	width					:	130px;
}

#SearchUserDiv td:hover {
	background-color	: #EAF5F4;
	border			: 0px solid #216778;
}

#SearchUserDiv .header {
	color				: #216778;
}

#SearchUserDiv .no_found {
	padding-left	:	5px;
}

#SearchUserDiv #TopDiv,
#SearchUserDiv #FormDiv {
	padding-left	:	4mm;
}

#SearchUserDiv #OptionDiv {
	padding-top	:	6mm;
	padding-left	:	4mm;
}

#SearchUserDiv .label {
	margin-top	:	5px;
	font-size	:	11px;
	font-weight	:	normal;
}

#SearchUserDiv #ListDiv {
	text-align 	:	left;
	padding-left	:	12px;
	width					:	150px;
	display				:	block;
	overflow			:	auto;
	height				:	58px;
}

#SearchUserDiv input{
	margin-top	:	5px;
}

#SearchUserDiv #ButtonsDiv .button {
	margin-left:	10px;
}

#SearchUserDiv #ButtonsDiv {
	padding-top : 30px;
	padding-right	:	10px;
	text-align	: center;
	position		: relative;
}
