#Main #Left {
	float			: left;
	width			: 200px;
	padding-left	: 2px;			
}

/* User information div */
#Main #Left #User {
	width			: 98%;
	border			: 2px solid #216778;
	background-color: #FFF;
	display			: table;
	height			: 15mm;	
}

#Main #Left #User img {
	float			: left;
	margin			: 1mm;
}

#Main #Left #User #UserInf {
	float			: right;
	margin-top		: 3mm;
	width			: 32mm;
}

#Main #Left #User h2 {
	font			: bold 12px Trebuchet MS;
	color			: #FFA200;
}

#Main #Left #User select {
	width			: 22mm;
	font			: 10px Trebuchet MS;
	color			: #FFA200;
	border			: 0px;
}

#Main #Left #User option {
	text-indent		: 18px;
	margin			: 1px;
	height			: 16px;
}

/* order by rating or nick */
#Main #Left #order_nick, 
#Main #Left #order_rating {
	font			: 11px Trebuchet MS;
	color			: #216778;
	cursor			: pointer;
}

#Main #Left #order_rating {
	position		: absolute;
	width			: 29mm;
	right			: 3px;
	border			: 0px;
	text-align		:right;
}

#Main #Left .order_selec {
	font-weight		: bold !important;
	color			: #FFA200 !important;
}


/* Group names */
#Main #Left label {
	display			: block;
	font			: bold 12px Trebuchet MS;
	color			: #216778;
	margin			: 1mm 0mm 0.5mm 0mm;
}


