#LoadDiv h1{
	background		: url("../images/ie/logo.gif") no-repeat;
}

#LoadDiv .grey_ball{
	background		: url("../images/ie/login/bola_cinza.gif") no-repeat;
}

#LoadDiv .green_ball{
	background		: url("../images/ie/login/bola_verde.gif") no-repeat;
}
