* {
	margin			: 0px;
	padding			: 0px;
}

body {
	background		: url('../images/fundo_interface.png') repeat-X;
}

#Page {
	position		: relative;
	min-width		: 780px;
	height			: 185mm;
}

#Main #Center {
	margin-left		: 55mm;
	height			: 150mm;
}
