#NewsDiv {
	position		: absolute;
	left			: 50%;
	margin-left		: -35mm;
	top				: 30mm;
	border			: 12px solid #216778;
	width			: 70mm;
	height			: 80mm;
	-moz-border-radius-topleft:0.75em;
	-moz-border-radius-bottomleft:0.75em;
	-moz-border-radius-bottomright:0.75em;
	background-color: #FFF;
	padding			: 3mm;
}

#NewsDiv .fechar {
	position		: absolute;
	left			: 70mm;
	top				: -6mm;
	width			: 35px;
	height			: 13px;
	background		: url('../images/fechar.png') no-repeat right 0px;
	cursor			: pointer;
}

#NewsDiv #ShowNewsDiv {
	width			: 70mm;
	height			: 70mm;
	background-color: #FFF;
	position		: absolute;
	top				: 14mm;

}

#NewsDiv #ShowNewsDiv #EntireNewsDiv{
	width			: 70mm;
	height			: 68mm;
	background-color: #FFF;
	overflow		: auto;
}

#NewsDiv h3 {
	font			: 7mm Trebuchet MS;
	color			: #216778;
	text-align		: center;
}

#NewsDiv ul {
	border			: 1px;
	width			: 70mm;
	height			: 72mm;
}

#NewsDiv li {
	list-style		: none;
	padding			: 2mm 0mm;
}

#ShowNewsDiv h4 {
	font			: bold 3.5mm Trebuchet MS;
	color			: #216778;
	margin-bottom	: 5mm;
	text-decoration	: none;
}

#ShowNewsDiv p {
	font			: 3mm Trebuchet MS;
	color			: #216778;
}

#ShowNewsDiv .voltar {
	position		: absolute;
	font			: 2.6mm Trebuchet MS;
	color			: #216778;
	cursor			: pointer;
}

#NewsDiv li a {
	font			: 3mm Trebuchet MS;
	color			: #216778;
	margin-bottom	: 2mm;
	font-weight		: normal;
	text-decoration	: none;
}

#NewsDiv li a:hover {
	text-decoration	: underline;
	cursor			: pointer;
}
