#OldGamesDiv .left_div {
	float	:	left;
	width	:	170px;
}
	
#OldGamesDiv img {
	margin-right	: 3mm;
	margin-left		: 2mm;
}

#OldGamesDiv .botao {
	margin-top		: 3mm;
	margin-right	: 0mm;
}

#OldGamesDiv .italic {
	font-style		: italic;
}

#OldGamesDiv .result {
	text-align	:	left;
	margin-bottom	:	3mm;
}

#OldGamesDiv .format {
	font-weight: normal;
	font-size : 8px;
}

#OldGamesDiv #FormDiv {
	padding-top	:	6mm;
}

#OldGamesDiv #SelectDiv {
	text-align : center;
	position	: relative;
	margin-bottom	:	3mm;
}

#OldGamesDiv #ButtonsDiv {
	text-align : center;
	position:relative;
	margin-top	:	8mm;
}

#OldGamesDiv #ResultDiv #TableDiv {
	text-align : center;
}
/*
#OldGamesDiv #ResultDiv #THeadDiv {
	width:	95%;
	background-color: #EAF5F4;
	border : solid thin;
	border-color: Teal;
	text-align : center;
	font-size: 13px;
	font-weight: bold;
}
*/
#OldGamesDiv #ResultDiv #TBodyDiv {
	width:	465px;
	border : solid thin;
	border-color: Teal;
	overflow-x : hidden;
	overflow-y : auto;
	border-top-width: 1px;
	border-bottom-width: 0mm;
	border-left-width: 1px;
	border-right-width: 0px;
}

#OldGamesDiv #ResultDiv {
	padding-left : 6mm;
	padding-bottom: 4mm;
}

#OldGamesDiv #ResultDiv #TFootDiv {
	width:	464px;
	border : solid thin;
	border-color: Teal;
	text-align : center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 0mm;
}

#OldGamesDiv #ResultDiv #TFootDiv .page {
	margin-left : 3mm;
	margin-right : 3mm;
	font-size: 9px;
	font-weight: normal;
}

#OldGamesDiv #ResultDiv #TFootDiv .button {
	font-size: 9px;
	font-weight: normal;
	margin: 0mm 0mm 0mm 0mm;
	width: 55px;
	border-color : #EAF5F4;
}

#OldGamesDiv #ResultDiv #TFootDiv hr {
	height			: 1px;
	margin			: 2.5mm 4mm 2mm 3mm;
	background-color: #FFA200;
	border			: 0px;
}

#OldGamesDiv #ResultDiv .button {
	bottom: 0px;
}

#OldGamesDiv #ResultDiv p {
	font-weight:	normal;
}

#OldGamesDiv #ResultDiv #TFootDiv .button_disabled {
	border-color : #C0C0C0;
	background-color: #C0C0C0;
	font-size: 9px;
	font-weight: normal;
	margin: 0mm 0mm 0mm 0mm;
	width: 55px;
}

#OldGamesDiv #ResultDiv #NoResultDiv {
	text-align : center;
	height : 30mm;
	padding-top	:	15mm;
}

#OldGamesDiv #Layer1Div {
	margin-bottom	:	2mm;
	padding-left : 22mm;
}

#OldGamesDiv #Layer2Div {
	padding-left : 22mm;
}

#OldGamesDiv .pieces_span {
	font-size	:	14px;
	font-weight	:	normal;
}

#OldGamesDiv thead {
	background-color: #EAF5F4;
	font-weight		: bold;
	font-size	:	12px;
	border			: 1px solid #216778;
}

#OldGamesDiv tbody,
#OldGamesDiv table {
	display			: block;
	width			: 100%; 
	position		: relative;
	border-collapse	: collapse;
	empty-cells		: show;
}

#OldGamesDiv td {
	border			: 1px solid #216778;
	font-size		: 10px;
	color			: #216778;
	background-color: #FFF;
	text-align		: center;
	width	:	80px;
	padding : 1px;
}

#OldGamesDiv p {
	font-weight		: bold;
/*	font-size		: 12px;*/
	color			: #216778;
}

#OldGamesDiv span {
	font-weight		: bold;
	font-size		: 10px;
	color			: #216778;
	padding-right	:	4px;
}

#OldGamesDiv input {
	margin-right	:	4px;
	margin-top		:	3mm;
	padding-left	:	2px;
}
#OldGamesDiv input,
#OldGamesDiv select {
	border-color : #FFA200;
}

#OldGamesDiv #ResultDiv #TBodyDiv .header {
	background-color: #EAF5F4;
	font-size	:	12px;
}
#OldGamesDiv #ResultDiv #TBodyDiv .resultheader {
	background-color: #EAF5F4;
	font-size	:	13px;
	width: 130px;
}

#OldGamesDiv .resulttd {
	width: 130px;
}

#OldGamesDiv #L2RightDiv #FromDiv {
	float: left;
	margin-right: 10%;
}

#OldGamesDiv #CloseDiv {
	text-align: center;
	padding-top: 4mm;
}

#oldgame_loading, #oldgame_not_found{
	width			: 464px;
	border-style		: solid;
	border-width		: 0px thin;
	border-color		: #216778;
}
