/***
* Janela de Jogos antigos
*

/**
* Janela que mostra os resultados da busca de jogos antigos
*/
#WindowDiv #OldGamesResult table {
	display			: block;
	width			: 95mm; 
	position		: relative;
	margin-top		: 6mm;
	border-collapse	: collapse;
	empty-cells		: show;
}

#WindowDiv #OldGamesResult td {
	width			: 20mm;
	border			: 1px solid #216778;
	background-color	: #FFF;
}

#WindowDiv #OldGamesResult tr {
	color			: #216778;
	cursor			: pointer;
	text-align		: center;
	font 			: 10px Trebuchet MS;
}
#WindowDiv #OldGamesResult tr:hover {
	color			: #2167FF;
}


#WindowDiv #OldGamesResult .header {
	background-color: #EAF5F4;
	font-weight		: bold;
}

#WindowDiv #OldGamesResult .header:hover {
	color			: #216778;
}

#WindowDiv #OldGamesResult #OldGamesDivTableButtons {
	position		: relative;
	top			: 1mm;
	width			: 100%;

}
#WindowDiv #OldGamesResult #OldGamesDivTableButtons p{
	margin-top		: 0mm;
	text-align		: center;
}
#WindowDiv #OldGamesResult #OldGamesDivTableButtons input.prev{
	position		: absolute;
	top			: 0mm;
	left			: 0mm;
}

#WindowDiv #OldGamesResult #OldGamesDivTableButtons input.next{
	position		: absolute;
	top			: 0mm;
	right			: 0mm;
}
/**
* Janela para buscar jogos antigos
*/

#WindowDiv #FindOldGames input.box
{
	width			: 30mm;
}
