body {
	background		:transparent url(../images/fundo_interface.png) repeat-x scroll 0%;
	margin			: 0px;
	min-height		: 500px;
}

#MainDiv {
	background		:transparent url(../images/register/register_box_fundo.png) repeat-x scroll 0% 50%;
	width			:470px;
	height			:280px;
	border			:2px solid  #FFA200;
	padding			:10px 30px 30px 30px;
	position		:relative;
	top				:50px;
	left			:50%;
	margin-left		:-250px;
}

#MainDiv p{
	color			:#216778;
	font-size		:13px;
	font-size-adjust:none;
	font-stretch	:normal;
	font-variant	:normal;
	line-height		:normal;
	height			:10px;
	padding-top		: 3px;

}

#MainDiv h1{
	color			:#216778;
	font-size		:17px;
	height			:20px;
	font-size-adjust	:none;
	font-stretch		:normal;
	font-variant		:normal;
	line-height		:normal;
	text-align		:center;
}

#MainDiv b{
	width			:130px;
	font-family		:verdana;
	font-weight     	:bold;
	font-size		:10px;
	border          	:1px ;
	float			:left;
	text-align		:right;
	margin-right		: 5px;
}

input {
	font-size		:11px;
	font-size-adjust	:none;
	font-stretch		:normal;
	font-style		:normal;
	font-variant		:normal;
	font-weight		:normal;
	line-height		:normal;
	padding			:1px;
	margin-right		: 10px;
}

.enter {
	cursor			:pointer;
	width			:70px;
	height			:18px;
	color			:#FFF;
	border 			:0px;
	font-style		:bold;
	background-image: url(../images/register/botaoconfirmar.png) ;
}

.name{
	width           	:220px;
	border			:1px solid #216778;
}

.nik{

	width           	:220px;
	border			:1px solid #216778;
}

.mail{
	width  		        :220px;
	border			:1px solid #216778;
}

.pwd{
	width           	:220px;
	border			:1px solid #216778;
}

.italic{
	font-style		:italic;
	padding			:0 0 10 0;
	text-align		:center;
}

.special{
	height			:20px;	
	float          		:left;
	position		:relative;
	left			:50%;
	margin-left		:-75px;

}

