/**
 *	MENU SUPERIOR
 **/
#MenuDiv {
	position		: absolute;
	top				: 9mm;
	left			: 50%;
	margin-left		: -90mm;
	width			: 186.5mm;
}

#MenuDiv li {
	list-style		: none;
	float			: left;
	padding-top		: 0.6mm;
	height			: 6mm;
	width			: 44.7mm;
	font			: bold 3.8mm Trebuchet MS;
	color			: white;
	background		: url('../images/menu_superior_inativo.png') no-repeat;
	text-align		: center;
}

#MenuDiv li:hover {
	cursor			: pointer;
	background		: url('../images/menu_superior_ativo.png') no-repeat;
}


/*
#MenuDiv li {
    display			: -moz-inline-box;
	display			: inline-block;
	list-style		: none;
	padding-top		: 0.6mm;
	height			: 6mm;
	font			: bold 3.8mm Trebuchet MS;
	color			: white;
	background		: url('../images/menu_superior_inativo.png') no-repeat;
}

#MenuDiv li:hover {
	cursor			: pointer;
	background		: url('../images/menu_superior_ativo.png') no-repeat;
}

#MenuDiv .opt1 {
	padding-left	: 2.2mm;
	padding-right	: 2.2mm;
}

#MenuDiv .opt2 {
	padding-left	: 5.8mm;
	padding-right	: 5.8mm;
}

#MenuDiv .opt3 {
	padding-left	: 3mm;
	padding-right	: 3mm;
}

#MenuDiv .opt4 {
	padding-left	: 18mm;
	padding-right	: 18mm;
}
*/
