/*CSS default*/

div .UserList{
	padding-left		: 3mm;
	padding-top		: 1mm;
	font-size		: 11px;
}

div .UserList .UserTable{
	overflow-y		: auto;
	overflow-x		: hidden;
	margin-top		:	2mm;
}

div .UserList table{
	display			: block;
	height			: 25mm;
	width			: 48mm;
	margin-top		: 2mm;
	border-spacing		: 0px;
}

div .UserList tbody{
	display			: block;
	width			: 44mm;
}


div .UserList tr{
	text-indent		: 5mm;
	margin			: 1px 0px;
	height			: 16px;
	list-style		: none;
	font-size		: 11px;
	cursor			: pointer;
}

div .UserList tr:hover {
	background-color	: #EAF5F4;
}

div .UserList td{
	width			: 41mm;
	text-align		: left;
}

div .UserList td.rating{
	width			: 2mm;
	text-align		: right;
}

/*
div .UserList #order_nick, 
div .UserList .order_rating,
div .UserList .order_rating_selec {
	color                   : #216778;
	cursor                  : pointer;
	border-bottom		:  1px solid
}

div .UserList .order_rating,
div .UserList .order_rating_selec {
	position                : absolute;
	width                   : 29mm;
	right                   : 3px;
	border                  : 1px solid #FFA200;
	text-align              : right;
	font-size		: 11px;
}

div .UserList .option_selected {
	color                   : #FFA200 !important;
}

div .UserList .option_not_selected {
	color                   : #216778;
}

div .UserList .order_rating_selec {
	color                   : #FFA200 !important;
}

div .UserList .order_selec {
	font-weight             : bold !important;
	color                   : #FFA200 !important;
}

*/
div .UserList #order_nick
{
	color			: #216778;
	cursor			: pointer;
	font-size:	10px;
}

div .UserList #order_nick.selected
{
	color			: #FFA200;
	font-weight             : bold !important;
	border-bottom:	1px solid #FFA200;
}

div .UserList #order_rating
{
	color			: #216778;
	cursor			: pointer;
	position                : absolute;
	width                   : 56%;
	right                   : 3px;
	text-align              : right;
	font-size		: 10px;
	border                  : 1px solid #216778;
}

div .UserList #order_rating.selected
{
	border                  : 1px solid #FFA200;
	color			: #FFA200;
}

div .UserList #order_rating option.selected
{
	color			: #FFA200;
}

div .UserList #order_rating option.not_selected 
{
	color                   : #216778;
}

/*Contact list user list css*/
#ContactInside .UserList{
	padding-left		: 1mm;
}

#ListDiv div .UserList table{
	height			: 0mm;
	margin-top		: 0mm;
}

#ListDiv .UserList {
	padding-left		: 1mm;
	padding-top		: 0mm;
}


/*Contact online user list css*/
#ContactOnline .UserList{
	padding-left		: 1mm;
	height			: 37.7mm;
}

#ContactOnline .UserTable{
	height			: 32mm;
}

/*Room list user list css*/
#Rooms div .UserList .UserTable{
	height			: 22mm;
}
