#WindowBox{
	left			: 40%;
	float			: left;
	top				: 50mm;
	padding			: 0 5mm 6mm 5mm;
	position	: absolute;	
}

#TitleBar.focus{
	border-color	: #ffa200;
	background-image: url('../images/window_title_bg.png');
}

#TitleBar{
	background-repeat: repeat-x;
	background-image: none;
	background-color: #216778;
	width		: 100px;
	height		: 21px;
	position	: relative;
	/*left		: 2px;*/

	border-style	: solid;
	border-width	: 0px 2px 0px 2px;
	border-color	: #216778;

	font 			: bold 13px Trebuchet MS;
	color			: #FFF;
}

#TitleBar #Close{
	position	: absolute;
	right		: 5px;
	top				: 2px;
	cursor	: pointer;
}

#TitleBar #Title{
	position	: absolute;
	left		: 5px;
	top				: 2px;
}


#SubWindowBox.focus{
	border-color	: #ffa200;
}

#SubWindowBox{
	border-style	: solid;
	border-width	: 0px 2px 2px 2px;
	border-color	: #216778;
	background		: url('../images/window_content_bg.png') repeat-X;
	background-color: #FFFFFF;
	.overflow	: hidden;
}

#SubWindowBox #Content{
	position		: relative;
}

#WindowBox .button {
	padding-bottom	: 5px;
	border			: 0px;
	font 			: bold 12px Trebuchet MS;
	color			: #FFF;
	cursor			: pointer;
	margin			: 0px 0px 5px 2px;
	padding			: 1px 2px;
	position		: relative;
	bottom			: 10px;
	background		: #216778;
}

#WindowBox .button:hover {
	background		: #FFA200;
}

#WindowBox p {
	font 			: bold 12px Trebuchet MS;
	color			: #216778;
}

#WindowBox input,
#WindowBox textarea,
#WindowBox select {
	font 			: 12px Trebuchet MS;
	border			: 1px solid #216778;
	color			: #216778;
}

#WindowBox span {
	font-family		: Trebuchet MS;
}
