/**
* JANELAS FLUTUANTES
*/

/***
 * Atributos padrao
 */
#WindowDiv {
	position		: absolute;
	left			: 50%;
	float			: left;
	top				: 30mm;
	background		: url('../images/fundo_window_editar_perfil.png') repeat-X;
	background-color: #FFF;
	border			: 2px solid #FFA200;
	border-top		: 0px;
	padding			: 0 5mm 6mm 5mm;
}

#WindowDiv .title {
	position		: relative;
	top				: -5px;
	left			: -5.5mm;
	display			: block;
	height			: 20px;
	font 			: bold 13px Trebuchet MS;
	color			: #FFF;
	padding-top		: 2px;
	padding-left	: 10px;
}

#WindowDiv .window_close {
	position		: relative;
	top				: -22px;
	font 			: bold 11px Trebuchet MS;
	color			: #FFF;
	cursor			: pointer;
}

.Div_150 {
	width			: 32.8mm;
	padding			: 0 3mm 6mm 3mm !important;
}

.Div_150 .title {
	background		: url('../images/barra_titulo_150.png') no-repeat;
	left			: -3.5mm !important;
	width			: 38mm;
}

.Div_150 .window_close {
	left			: 32mm;
}


.Div_220 {
	width			: 51.2mm;
	margin-left		: -23mm;
	padding			: 0 3mm 6mm 3mm !important;
}

.Div_220 .title {
	background		: url('../images/barra_titulo_220.png') no-repeat;
	left			: -3.5mm !important;
	width			: 56mm;
}

.Div_220 .window_close {
	left			: 48mm;
}


.Div_320 {
	width			: 73.5mm;
	margin-left		: -42mm;
}

.Div_320 .title {
	background		: url('../images/barra_titulo_320.png') no-repeat;
	width			: 82mm;
}

.Div_320 .window_close {
	left			: 75mm;
}


.Div_400 {
	width			: 94.8mm;
	margin-left		: -47mm;
}

.Div_400 .title {
	background		: url('../images/barra_titulo_400.png') no-repeat;
	width			: 104mm;
}

.Div_400 .window_close {
	left			: 96mm;
}

#WindowDiv h3 {
	font 			: bold 4mm Trebuchet MS;
	color			: #216778;
	text-align		: center;
}

#WindowDiv p {
	font 			: bold 12px Trebuchet MS;
	color			: #216778;
	margin-top		: 3mm;
}

#WindowDiv input,
#WindowDiv textarea,
#WindowDiv select {
	font 			: 12px Trebuchet MS;
	border			: 1px solid #216778;
	color			: #216778;
}

#WindowDiv span {
	font 			: 12px Trebuchet MS;
	color			: #216778;
}

#WindowDiv .botao {
	margin-top		: 10px;
	padding-bottom	: 5px;
	background		: url('../images/fundo_botao.png') no-repeat;
	border			: 0px;
	width			: 90px;
	height			: 17px;
	font 			: bold 12px Trebuchet MS;
	color			: #FFF;
	cursor			: pointer;
}

#WindowDiv .botao:hover {
	color			: #FFA200;
}

/***
 * Janela de desafio
 */
#Desafiar #ChalLeftDiv {
	float			: left;
	width			: 170px;
}

#Desafiar p {
	margin-top		: 5mm;
}

#Desafiar .rating {
	margin-left		: 4mm;
}

#Desafiar img {
	margin-right	: 7mm;
	margin-left		: 2mm;
}

#Desafiar .label_information {
	text-align		: center;
	font-weight		: normal;
	margin			: 0;
	font-size		: 2.6mm;
}

#Desafiar .time_select {
	margin-top		: 1mm;
	margin-right	: 2mm;
}

#Desafiar .rating_radio {
	margin-top		: 8mm;
	margin-right	: 1.5mm;
}

#Desafiar .botao {
	margin-top		: 8mm;
	margin-right	: 0mm;
}

#Desafiar .italic {
	font-style		: italic;
}

/***
 * BUSCA DE USUARIOS
 */
#WindowDiv #ResultadoBuscaUsuario ul {
	height			: 100px;
	overflow		: auto;
	margin-top		: 4mm;
}

#WindowDiv #ResultadoBuscaUsuario li {
	font 			: bold 12px Trebuchet MS;
	color			: #216778;
	list-style		: none;
}

/*
#WindowDiv,
#WindowSmallDiv {
	position		: absolute;
	left			: 50%;
	float			: left;
	margin-left		: -200px;
	width			: 316px;
	top				: 100px;
	background		: url('../images/fundo_window_editar_perfil.png') repeat-X;
	background-color: #FFF;
	border			: 2px solid #FFA200;
	border-top		: 0px;
	padding-bottom	: 6mm;
}

#WindowSmallDiv {
	width			: 147px;
	height			: 100px;
	margin-left		: -125px;
}

.Perfil {
	min-height		: 80mm !important;
}

#WindowDiv .title,
#WindowSmallDiv .title {
	position		: relative;
	top				: -5px;
	left			: -2px;
	display			: block;
	height			: 20px;
	width			: 318px;
	background		: url('../images/titulo_janela_grande.png') no-repeat;
	font 			: bold 13px Trebuchet MS;
	color			: #FFF;
	padding-top		: 2px;
	padding-left	: 10px;
}

#WindowSmallDiv .title {
	background		: url('../images/titulo_janela_pequena.png') no-repeat;
}

#WindowDiv .botao ,
#WindowSmallDiv .botao {
//	display			: block;
	margin-top		: 10px;
	margin-bottom	: 10px;
	padding-bottom	: 5px;
	background		: url('../images/fundo_botao.png') no-repeat;
	border			: 0px;
	width			: 90px;
	height			: 17px;
	font 			: bold 12px Trebuchet MS;
	color			: #FFF;
	cursor			: pointer;
}

#WindowDiv .botao:hover ,
#WindowSmallDiv .botao:hover {
	background		: url('../images/fundo_botao_selec.png') no-repeat;
}

#WindowDiv .window_close,
#WindowSmallDiv .window_close {
	position		: relative;
	left			: 300px;
	top				: -22px;
	font 			: bold 11px Trebuchet MS;
	color			: #FFF;
	cursor			: pointer;
}

#WindowSmallDiv .window_close {
	left			: 130px;
}

#WindowDiv p,
#WindowSmallDiv p {
	font 			: bold 12px Trebuchet MS;
	color			: #216778;
	margin-left		: 5mm;
	margin-top		: 10px;
}

#WindowSmallDiv p {
	margin-top		: 0px;
	margin-left		: 10px;
}

#WindowDiv input,
#WindowDiv select,
#WindowSmallDiv input,
#WindowSmallDiv select {
	font 			: 12px Trebuchet MS;
	border			: 1px solid #216778;
	color			: #216778;
	margin-left		: 20px;
}

#WindowSmallDiv input {
	margin-left		: 10px;
	margin-bottom	: 3px;
}

#WindowDiv .submit {
	display			: block;
	color			: #216778;
	margin-top		: 15px;
}


/***
* Janela Desafio
*

/**
* Perfil
*/
#WindowDiv #Perfil #ChalLeftDiv {
	float			: left;
	width			: 170px;
}

#WindowDiv #Perfil .inf,
#WindowDiv #Perfil .inf_quemsou {
	display			: block;
	font 			: 11px Trebuchet MS;
	color			: #216778;
	margin-top		: 10px;
	width			: 70mm;
}

#WindowDiv #Perfil .inf_quemsou {
	max-height		: 15mm;
	overflow		: auto;
}

#WindowDiv #Perfil .valor {
	font 			: 11px Trebuchet MS;
	font-weight		: normal;
}

#WindowDiv #Perfil #ChalLeftDiv {
	width			: 90px;
}

#WindowDiv #Perfil #ChalRightDiv {
	padding-left	: 90px;
}

#WindowDiv #Perfil table {
	display			: block;
	width			: 95mm; 
	position		: relative;
	margin-top		: 6mm;
	border-collapse	: collapse;
	empty-cells		: show;
}

#WindowDiv #Perfil td {
	width			: 20mm;
	border			: 1px solid #216778;
	font 			: 10px Trebuchet MS;
	color			: #216778;
	background-color: #FFF;
	text-align		: center;
}

#WindowDiv #Perfil .header {
	background-color: #EAF5F4;
	font-weight		: bold;
}

#WindowDiv #Perfil .oldgames:hover {
	color			: #2167FF;
	cursor			: pointer;
}



#DivLoading{
	border 			: 1px solid;
	border-color		: #FFA200;
	background		: url('../images/fundo_window_editar_perfil.png') repeat-X;
	color			: #216778;
	font-weight		: bold;
	font 			: 14px Trebuchet MS;
	text-align		: left;
	position		: relative;
	width			: 30mm;
	height			: 10mm;
	margin-top		: 6mm;
	margin-left		: 30mm;
}


#DivLoading .p
{
	margin-top		: 5mm;
	margin-left		: 2mm;
}

#AlterarGrupo,
#AdicionarUsuario, 
#DivAddUser, 
#DivAuth
{
	height	:	32mm;
}

#AlterarDivNome, 
#AdicionarDiv, 
#DivAddUser_Name, 
#DivAuth_Name
{
	position	: absolute;
	top				: 10mm;
	left			: 12mm;
}

#AlterarDivNome  p.mover,
#AdicionarDiv p.usuario, 
#DivAddUser_Name p.usuario, 
#DivAuth_Name p.usuario
{
	font-weight		: normal;
}

#AlterarDivNome p.username, 
#AdicionarDiv p.username,
#DivAddUser_Name p.username, 
#DivAuth_Name p.username
{
	font-size : 15px;
}
#AlterarDivSelect, 
#AdicionarDivSelect, 
#DivAddUser_Select, 
#DivAuth_Select
{
	position	: absolute;
	top				: 10mm;
	right			: 12mm;
}

#AlterarDivButtons, 
#AdicionarDivButtons, 
#DivAddUser_Buttons, 
#DivAuth_Buttons
{
	position	: absolute;
	bottom		: 3mm;
	left			: 18mm;
}

#AlterarDivSelect select,
#DivAddUser_Select select,
#AdicionarDivSelect select,
#DivAuth_Select select 
{
	position	: relative;
	top				:	3mm;
}

#DivBox span
{
	font-weight	:	bold;
}

#DivBox
{
	position	:	absolute;
	top				:	11mm;
	right			:	10mm;
}


#DivButtons
{
	position	:	absolute;
	bottom		:	3mm;
	right			:	15mm;
}

#DivButtons .botao
{
	margin-left	:	6mm;
}

#DivCriarGrupoNome,
#DivRemoveGroupAlert,
#DivRenameGroupAlert,
#DivRenomearGrupo,
#DivGrupoVazio,
#DivCancelaGrupo,
#DivRemoveUser
{
	height	:	25mm;
}

#OkAvisoGrupo,
#OkButtonRenameGroupAlert
{
	position	:	absolute;
	bottom		:	3mm;
	left			:	30mm;
}

#DivGrupoVazio p
{
	font-size		:	14px;
	font-weight	: normal;
}

#DivGrupoVazio .gruponome,
.bolder
{
	font-weight	: bold;
}

#DivTextRemoveGroupAlert span.bolder,
#DivTextRenameGroupAlert span.bolder,
#DivTextRemoveUser span.bolder
{
	font-weight	: bold;
}

#AvisoGrupoVazio
{
	position	:	absolute;
	top				:	11mm;
}

#DivCriarGrupoP
{
	height	:	100mm;
}

#DivForm
{
	position	:	absolute;
	top				:	20mm;
	overflow	:	auto;
	width			: 270px;
	height		:	70mm;
}

#AvisoCancelaGrupo
{
	position	:	absolute;
	top				:	9mm;
	left			:	8mm;
}

#AvisoCancelarGupo p.aviso_cancela
{
	font-weight	:	bold;
}

#CancelaGrupoBotoes, 
#DivButtonsRemoveUser
{
	position	:	absolute;
	bottom		:	3mm;
	left			:	18mm;
}

#ExcluirGrupoBotoes
{
	position	:	absolute;
	bottom		:	3mm;
	left			:	18mm;
}

#DivRemoveGrupo
{
	height	:	30mm;
}

