#WindowBox{
	position	: absolute;	
}

#TitleBar.focus{
	border-color	: #ffa200;
	background-image: url('../images/window_title_bg.png');
}

#TitleBar{
	background-repeat: repeat-x;
	background-image: none;
	background-color: #216778;
	width		: 100px;
	height		: 21px;
	position	: relative;
	/*left		: 2px;*/

	border-style	: solid;
	border-width	: 0px 2px 0px 2px;
	border-color	: #216778;

}

#TitleBar #Close{
	position	: absolute;
	right		: 5px;
}

#TitleBar #Title{
	position	: absolute;
	left		: 5px;
}


#SubWindowBox.focus{
	border-color	: #ffa200;
}

#SubWindowBox{
	border-style	: solid;
	border-width	: 0px 2px 2px 2px;
	border-color	: #216778;
	background-image: url('../images/window_content_bg.png');
	background-repeat: repeat-x;
}

#SubWindowBox #Content{
	position	: relative;
}

